body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #334d50;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
section {
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 10px;
}
form label {
    display: block;
    margin-bottom: 5px;
}
form input, form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}
form button {
    display: block;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
}
   
